<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ database_name }}' );

/** MySQL database username */
define( 'DB_USER', '{{ database_user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ database_passwd }}' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '0PcTH/s/b JpT Y`ZY4LqX(?oTvWVDJ+QRK D2LVBi#Z7l$EAw>6?.=dN<pdS.n6' );
define( 'SECURE_AUTH_KEY',  'vg8Yp((`M6y 9RRLNwv_S*zx&z~QHa8t4)QD.b])El{d[AhfC|Gl~*`!+}bMi&On' );
define( 'LOGGED_IN_KEY',    'x_5ff!gWmNT0A48)QcGKRK7L]D`S!jq3sBptJu0;I0akhR/Z:h;Gx4.hL7;+eI|V' );
define( 'NONCE_KEY',        's?h]/TG)b8G!,Zq3$|LqYJS`f.!Z>!:X~]/yc+`jPlS^ Z(_wjHQ^]:aFqfUrB3I' );
define( 'AUTH_SALT',        '2lpfn?!g~bGP(LgP>Y^y21mNV|=sZny7I&So5;CWo/Hbn?f ;{UG2|-JY^j6t1.C' );
define( 'SECURE_AUTH_SALT', 'y9JS5&z rB-fN*Tun{0]&8s%5)3~s.t]B4>10Z>^bey/I?p[X{3TyA1Q%ukmu[I0' );
define( 'LOGGED_IN_SALT',   '26Ae%]}}Na^>NX^9hM{ZpIDfiv;w&KqDZ3 R>6W|??v+Q?VeES_dDaUxcRR,KMOz' );
define( 'NONCE_SALT',       '?/D>k)-(3yi8pdzLoh`+LzGP;ozeLP.^(#6O!.TpT PhA0h>I2}OY3c(0n#ew{4_' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
